.dropdown:hover>.dropdown-menu {
    display: block;
}
.abc a{
 text-decoration: none;
}
.item{
    background-color: rgb(2, 2, 71);
    margin: 5px;
    padding: 5px;
    border: 3px solid rgb(2, 2, 73);

}
#image{
    position: fixed;
    bottom: 5px;
left: auto;}
.qw{
    background-color: rgb(221, 237, 227);
    margin: 5px;
    padding: 5px;
   
}
.ite{
    background-color: rgb(2, 2, 71);
    margin: 20px;
    padding: 41px;
    border: 3px solid rgb(2, 2, 73);
}
#myrow{
    background-color: rgb(32, 32, 206);
    padding: 2%;
    border-radius: 5%;
}
